{#
# This is the homepage template!
#}

{% extends "_layout" %}
{% set title = entry.heading %}

{% block content %}

<header>

</header>

<main role="main" class="container">

    <h1>{{ title }}</h1>
    {{entry.heading}}
    {{ entry.body }}
    {%include 'components'%}
    <!--http://craft.express/forms/v1/templating/#introduction-->
    {% set form = craft.expressforms.form("contact") %}
    {# General Errors, Success message, etc #}
    {{ form.openTag({ return: 'contact/thanks' }) }}
    {# Form Contents #}
    {{ form.closeTag }}


</main>
{% endblock %}

