{#
# This is the homepage template!
#}

{% extends "_layout" %}
{% set title = entry.heading %}

{% block content %}

{%set projectDescriptiveFields = entry.projectDescriptiveFields.one()%}
{%set projectCategories = entry.projectCategories.all()%}
{%set progressText = "Not Started"%}
{%set progressClasses = "notStarted"%}
{%if projectDescriptiveFields.projectStatus == "inProgress"%}
    {%set progressText = "In Progress"%}
    {%set progressClasses = "inProgress"%}
    {%elseif projectDescriptiveFields.projectStatus == "completed"%}
        {%set progressText = "Completed"%}
        {%set progressClasses = "completed"%}
{%endif%}

{%set downloads =entry.projectDownloads.all()%}




<header>

</header>

<main role="main" class="container">



    <div class="container">
        <h1 class="text-center">{{ entry.title }}</h1>
        {{entry.heading}}
        {{ entry.body }}
        <div class="row">
            <div class="col-md-6 col-sm-12 descriptiveImage">
                <img class="img-fluid" src="{{projectDescriptiveFields.descriptiveImage.one().url}}">
            </div>
            <div class="col-md-6 col-sm-12 descriptiveText">
               <div class="row">
                   <div class="col-12">
                       {{projectDescriptiveFields.shortDescription}}
                   </div>
                   <div class="col-12">
                       {{projectDescriptiveFields.explanation}}
                   </div>
                   <div class="progressIcon {{progressClasses}} col-12">
                       <i class=" far fa-square"></i>

                       <span class="badge badge-info"> {{progressText}}</span>
                       <i class=" far fa-square"></i>
                   </div>
               </div>
            </div>
        </div>
        <!--cattegories (will eventually link to a search page and prepopulate with the selected category)-->
        {%if projectCategories is not empty%}
        <div class="row projectCategoriesRow ">
            {%for category in projectCategories%}
            <div class="col-lg-2 col-md-4  projectCategoriesCol">
                <a class="badge badge-info projectCategoriesIcon" href="">{{category.title}} </a>
            </div>
            {%endfor%}


        </div>
        {%endif%}

        {%if downloads is not empty%}
            <div class="downloadsRow">
                {%for download in downloads%}
                    <div class="col-6 downloadsCol">
                        <div class = "downloadTitle">
                            {{download.downloadTitle}}
                        </div>
                        <div class = "downloadDescription">
                            {{download.downloadDescription}}
                        </div>
                        <div class = "downloadDownload">
                            <a href="{{download.download.first().url}}"><i class="fas fa-download"></i></a>
                        </div>
                    </div>
                {%endfor%}
            </div>
        {%endif%}
    </div>
    {%include 'components'%}


</main>
{% endblock %}