/*root values*/

:root
{
    font-family: Ubuntu;
    font-size: 18px;
}

body
{
    font-family: Ubuntu;
    font-size: 1rem;
}

h1
{
    font-size: 3rem;
}
h2
{
    font-size: 2.5rem;
}
h3
{
    font-size: 2rem;
}
h4
{
    font-size: 1.5rem;
}


/*header*/

.header_bar
 {
     background: #1d69ab;
     padding-left: 0;
     padding-right: 0;
     color: #FFFFF0;
 }

.header_logo_col
{
    background: #1d69ab;

}
.header_logo
{
    max-width: 75%;
    background: #1d69ab;

}
.header_quick_links
{
    text-align: center;
    margin-top:auto;
    margin-bottom: auto;
}

/*nav bar*/

.nav_bar
{
    background: #1d69ab;
    color: #FFFFF0;
    margin-top:auto;
    margin-bottom: auto;
}



/*footer*/
.footer_container
{
    padding-top: 1em;
}
.footer_bar
{

    background: #1d69ab;
    padding-left: 0;
    padding-right: 0;

    color: #FFFFF0;
}

.footer_logo_col
{
    background: #1d69ab;

}
.footer_logo
{
    background: #1d69ab;

}

.footer_quick_links
{
    text-align: center;
    margin-top:auto;
    margin-bottom: auto;
}

.progressIcon
{
    text-align: center;
}

.progressIcon .notStarted
{
    color: red;

}
.inProgress{}
.notStarted >.fa-square
{
    color:red;
}
.notStarted > .badge-info
{
    background-color:red;
}
.inProgress >.fa-square
{
    color:darkorange;
}
.inProgress > .badge-info
{
    background-color:darkorange;
}
.completed >.fa-square
{
    color:green;
}
.completed > .badge-info
{
    background-color:green;
}

.projectCategoriesRow
{
    text-align:center;
}

.projectCategoriesCol
{
    align-content: center;
    padding-left:1rem;
    padding-right:1rem;
}
.projectCategoriesIcon
{
    background-color: grey;
}


/*nav*/
@media (max-width: 767px)
{
    .nav-spacer
    {
        display: none;
    }
    .mainNavItem
    {
        display: none;
    }

}

/* hover dropdown menus */
@media only screen and (max-width: 991px) {
    .navbar-hover .show > .dropdown-toggle::after{
        transform: rotate(-90deg);
    }
}
@media only screen and (min-width: 992px) {
    .navbar-hover .collapse ul li{position:relative;}
    .navbar-hover .collapse ul li:hover> ul{display:block}
    .navbar-hover .collapse ul ul{position:absolute;top:100%;left:0;min-width:250px;display:none}
    .navbar-hover .collapse ul ul ul{position:absolute;top:0;left:100%;min-width:250px;display:none}
    /*.navbar-hover .collapse ul ul ul ul{position:absolute;top:0;left:-100%;min-width:250px;display:none;z-index:1}*/
}

.mainNavItem
{

    overflow: hidden;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}
.mainNavItem >  a
{

    display: contents;
    text-decoration: none;
    color:white;
}

.mainNavItem >  a:hover
{

    display: contents;
    text-decoration: none;
    color:white;
}

.childItems
{
    overflow: hidden;
}

.hiddenNavRow
{
    display: none;
}

.childNavRow
{
    background-color: #c0c0c0;
    border-style: solid;
    border-color: #1d69ab;
}
/*child nav*/
.childNavImageBox
{
    overflow: hidden;
    text-align: center;



}
.childNavImage
{
    max-height: 8rem;
    max-width: 100%;
    display: inline-block;

}


.childNavDetails , .childNavLink
{
    text-align: left;
    font-size: 1.25rem;
}

.childNavLink > a
{
    display: contents;
    text-decoration: none;
    color:white;
}
.childNavLink > a:hover
{
    display: contents;
    text-decoration: none;
    color:white;
}


/*search things*/
.searchContainer
{
    text-align: left;
    font-size: 1.5rem;
}
.searchIcon{

}

.searchContainer > a
{
    color: white;
}

.searchHidden
{
    display:none;
}


/*search page*/
.searchButtonCol
{
    text-align: center;
}
.searchResultRow
{
    border-style: solid;
    border-color: #1d69ab;

}
.searchEntryImage
{
    padding-left: 0;
    padding-right: 0;

}
.searchEntryTitle
{
    text-align: center;

}
.searchEntryDescription
{
    text-align: center;
}

.searchPageBarSpacer
{}
.searchPageBar
{
    text-align: center;
}


/*Projects page*/

.projectsCompletedBox
{
    background-color: #c0c0c0;
    border-style: dashed;
    border-color: #1d69ab;

}
.projectsIncompleteBox
{
    background-color: #c0c0c0;
    border-style: dashed;
    border-color: darkorange;
}
.projectsNotStartedBox
{
    background-color: #c0c0c0;
    border-style: dashed;
    border-color: red;
}