{%set welcomeBox = block%}

{% set id = welcomeBox.id %}

{%set css %}





    .welcomeBox_{{id}}
    {
        color:{{welcomeBox.textColor}};
        background-color:{{welcomeBox.backgroundColor}};



    }

    .welcomeBoxHeadingText_{{id}}
    {

    }

    .welcomeBoxBodyText_{{id}}
    {

    }

    .welcomeBoxCol_{{id}}
    {
        padding-top:{{welcomeBox.textPaddingTop}}%;
        padding-bottom:{{welcomeBox.textPaddingBottom}}%;
        padding-right:{{welcomeBox.textPaddingRight}}%;
        padding-left:{{welcomeBox.textPaddingLeft}}%;

        border-style:{{welcomeBox.borderStyle}};
        border-width:{{welcomeBox.borderWidth}};
        border-color:{{welcomeBox.borderColor}};







    }



    .welcomeBoxHeadingText_{{id}}
    {
        text-align:{{welcomeBox.horizontalHeaderTextAlignment}};
    }

    .welcomeBoxBodyText_{{id}}
    {
        text-align:{{welcomeBox.horizontalBodyTextAlignment}};

    }


{% endset %}
<style type = text/css>
    {{css}}
</style>

<div class="container">
<div class="row welcomeBox_{{id}}">
    <div class="col-lg-{{welcomeBox.columnSize}} welcomeBoxCol_{{id}}">
        <div class="welcomeBoxHeadingText_{{id}}">
        {{welcomeBox.headingText}}
        </div>
        <div class="welcomeBoxBodyText_{{id}}">
            {{welcomeBox.bodyText}}
        </div>
    </div>
</div>
</div>


